#outer-box {
	background-color: rgba(0, 0, 0, 0.32);
	padding: 8px;
	font-family: 'Fira Sans Condensed';
}

window {
	background-color: transparent;
	color: #f8f8f8;
}

#input {
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	padding: 4px 8px;
	border-radius: 7px;
	margin-bottom: 8px;
	color: #f6f6f6;
}

#scroll {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
	border: none;
	border-radius: 7px;
}

#entry {
	padding: 4px 8px;
}

#entry:selected {
	background: linear-gradient(45deg, rgba(0,180,231,0.32) 0%, rgba(0,231,180,0.32) 100%);
	border-radius: 3px;
	outline: none;
}

